$primary-color: rgb(84, 200, 235);
$primary-background: rgb(238, 241, 241);

* {
  box-sizing: border-box;
}
body {
  background-color: $primary-background;
  position: relative;
}
.times,
.bars {
  font-size: 1.8rem;
  color: red;
}
.bars {
  color: $primary-color;
}
.main {
  .bars {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px #eee;
    z-index: 5;

    .header {
      display: flex;
      justify-content: space-between;
      .times {
        align-self: center;
      }
      span {
        color: $primary-color;
      }
    }
    nav {
      font-size: 1.5rem;
      margin-top: 2vh;
      ul {
        list-style: none;
        padding-left: 0px;
        li {
          margin-bottom: 30px;
        }
      }
    }
    .social-icons {
      margin-top: 33vh;
      font-size: 1.3rem;
      text-align: center;
      display: flex;
      justify-content: space-around;
      padding: 0 140px;
      color: $primary-color;
    }
  }
  .btn {
    position: absolute;
    top: 42vh;
    left: 45%;
    z-index: -1;
    background-color: $primary-color;
    padding: 8px 15px;
    border-radius: 3px;
    border: none;
    color: #fff;
  }
  .modal {
    position: absolute;
    top: 30vh;
    height: 25vh;
    width: 70%;
    left: 15%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    .times {
      justify-self: flex-end;
      display: block;
    }
    .content {
      width: 100%;
      justify-self: center;
      text-align: center;
    }
  }
}

@media (min-width: 675px) {
  .main {
    .sidebar {
      width: 400px;
    }
  }
}
